* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(8, 20, 90);
   
}
.calculadora{
    position: relative;
    display: grid;
    grid-gap: 2px;
 

}
.calculadora .tela {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 25px;
}
.calculadora span {
    display: grid;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    background-color: #1a4fc0;
    user-select: none;
}
.calculadora span:active { 
    background-color: #1a4fc0;
    font-size: 45px;
}
.calculadora span.limpar{
    grid-column: span 2;
    width: 162px;
    background-color: #5583e7;
}
.calculadora span.igual{
    grid-row: span 2;
    height: 162px;
    line-height: 162px;
    background-color: #5455e1;
}
.calculadora span.zero{
    grid-column: span 2;
    width: 162px;
}